body {
  margin: 0;
  padding: 0;
  background: rgba(128,128,128,.4);
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: #000;
  position: fixed;
  height: 100%;
  overflow: auto;
}

ul.sidenav li a {
  display: block;
  color: #fff;
  padding: 18px 16px;
  text-decoration: none;
  text-align: center;
  border-bottom: 1px solid white;
  font-size: 25px;
}

ul.sidenav li a:hover {
  background-color: tomato;
  color: white;
  transition: .5s;
}

div.content {
  margin-left: 25%;
  padding: 1px 0px;
  height: 1000px;
}
.home h1{
  text-align: center;
  font-size: 70px;
  height: 100px;;
  animation-name: pulse;
  animation-duration: 3s;
  animation-iteration-count: 1;
}
@keyframes pulse {
  0%{
    font-size: 70px;
  }
  25%{
    font-size: 90px;
  }
  50%{
    font-size: 70px;
  }
  75%{
    font-size: 90px;
  }
  100%{
    font-size: 70px;
  }
}
.home-page-image{
  width: 100%;

}
.box{
  width: 48%;
  height: 350px;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  line-height: 350px;
  float: left;
  margin: 1%;
}
.box_top_work{
  width: 300px;
  height: 350px;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  text-align: center;
  vertical-align: center;
  line-height: 350px;
  float: left;
  margin: 1.5%;
}
.box_work{
  width: 400px;
  height: 350px;
  background: rgba(0,0,0,.5);
  border-radius: 10px;
  text-align: center;
  line-height: 430px;
  float: left;
  margin: 5.1%;
}
.box_content{
  width: 100%;
  height: 450px;
  border-radius: 10px;
  text-align: center;
  line-height: 500px;
  background-position: center;
  background-size: cover;

}
.contact_me{
  display: none;
}
.contact_me:hover{
  background:url(images/home_contact.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transition: 1s;
}
.junior_web_developer:hover{
  background:url(images/junior.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transition: 1s;
}
.about_me:hover{
  background:url(images/about_me.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transition: 1s;
}
.home a, .development_work a, .languages_spoken .knowledge{
  color: white;
  font-size: 20;
}
footer{
  margin-top: 50px;
}
.footer-icons{
  width: 60px;
  padding: 15.42px;
  border-radius: 100%;
  box-sizing: 1px 1px 1px 1px white;
  opacity: .5;
}
.footer-icons:hover{
  opacity: 1;
  transition: 0.3s ease-in-out;
  transform: scale(1.5);
}
.contact_logos h2{
  text-align: center;
  font-size: 30px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.about_me_page p{
  font-size: 30px;
  padding: 1px 16px;
}
.languages_spoken{
  text-align: center;
  border-bottom: 5px solid black;
}
.html:hover{
  background:url(images/html_bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transition: 1s;
}
.css:hover{
  background:url(images/css.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transition: 1s;
}
.javascript:hover{
  background:url(images/javascript.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  transition: 1s;
}
.development_work{
  text-align: center;
  border-bottom: 5px solid black;
}
.school_website{
  background: url(images/website.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 35px;
  color: #000;
}
.ffa_website{
  background: url(images/ffa.png);
  background-repeat: no-repeat;
  background-size: contain;
  font-size: 30px;
  color: black;
}
.work_page{
  text-align: center;
  font-size: 50px;
  margin: 20px;
}
.work_page a{
  text-decoration: none;
  color: white;
}
.cake{
  background-image: url(images/cake.png);
}
.hearts{
  background-image: url(images/Hearts.jpg);
  margin-top: 30px;
}
.guessing_game{
  background-image: url(images/number_game.jpg);
  margin-top: 30px;
}
.iphone{
  background-image: url(images/iphone.jpg);
  margin-top: 30px;
  background-position: top;
  color: black;
}
.batman{
  background-image: url(images/batman.jpg);
  margin-top: 30px;
}
.landscape{
  background-image: url(images/landscape.jpg);
  margin-top: 30px;
  color: black;
}
.contact{
  display: none;
}
@media screen and (max-width: 1023px) {
  ul.sidenav {
    width: 100%;
    height: auto;
    position: relative;
    }
  ul.sidenav li a {
    float: left;
    padding: 15px;
    border-right: 1px solid white;
    }
  div.content {
    margin-left: 0;
  }
  .nav_icons{
    display: none;
  }
  footer{
    display: none;
  }
  .home h1{
    text-align: center;
    font-size: 60px;
    height: 120px;
    animation-name: pulse-tablet;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  @keyframes pulse-tablet {
    0%{
      font-size: 60px;
    }
    25%{
      font-size: 70px;
    }
    50%{
      font-size: 60px;
    }
    75%{
      font-size: 70px;
    }
    100%{
      font-size: 60px;
    }
  }
  .box{
    float:none;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    display: block;
  }
  .box_work{
    width: 100%;
    line-height: 630px;
    float: none;
    margin-left: 0;
  }
  .contact_me{
    background:url(images/home_contact.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    transition: 1s;
  }
  .junior_web_developer{
    background:url(images/junior.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    transition: 1s;
  }
  .about_me{
    background:url(images/about_me.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: white;
    transition: 1s;
  }
  .languages_spoken{
    border: none;
  }
  .development_work{
    border: none;
  }
  .guessing_game{
    font-size: 60px;
  }
  .contact{
    display: block;
  }
  .footer-icons{
    width: 100px;
    opacity: 1;
  }
}

@media screen and (max-width: 768px) {
  ul.sidenav li a {
    text-align: center;
    float: none;
    border-right: none;
  }
  .nav_icons{
    display: none;
  }
  .home h1{
    text-align: center;
    font-size: 45px;
    height: 100px;;
    animation-name: pulse-phone;
    animation-duration: 3s;
    animation-iteration-count: 1;
  }
  @keyframes pulse-phone {
    0%{
      font-size: 45px;
    }
    25%{
      font-size: 50px;
    }
    50%{
      font-size: 45px;
    }
    75%{
      font-size: 50px;
    }
    100%{
      font-size: 45px;
    }
  }
  .box{
    float:none;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    display: block;
  }
  .box_work{
    width: 100%;
    float: none;
    margin-left: 0;
  }
  .languages_spoken{
    border: none;
  }
  .development_work{
    border: none;
  }
  .work_page h1{
    font-size: 20px;
  }
  .guessing_game{
    font-size: 40px;
  }
  .footer-icons{
    width: 100px;
    opacity: 1;
  }
}
