:root{
  --white-triangles: #fff;
  --main-background-color: #3076bb;
  --burger-bun-color: #fcb84e;
  --seeds: #fff;
  --lettuce: #00b387;
  --meat: #40403d;
  --sauce: #ef505e;
  --top-bun-height: 148px;
  --top-bun-width:  405px;
  --bottom-bun-width: 404px;
  --bottom-bun-height: 80px;
  --seeds-height: 13px;
  --seeds-width: 26px;
  --meat-width: 404px;
  --meat-height: 62px;
  --cheese-color: yellow;
  --pickle-color: green;
  --pickle-width: 155px;
  --pickle-height: 10px;

}
body{
  background-color: var(--main-background-color);
}
.burger{
  zoom: 216%;
}
.white_triangle1{
  background-color: var(--white-triangles):
}
.top_bun{
  background-color: var(--burger-bun-color);
  width: var(--top-bun-width);
  height: var(--top-bun-height);
  border-radius: 500px 500px 200px 200px;
}
.seed_1{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  left: 100px;
  top: 35px;
}
.seed_2{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  top: 20px;
  left: 238px;
}
.seed_3{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  left: 57px;
  top: 39px;
}
.seed_4{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  left: 186px;
  top: 19px;
}
.seed_5{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  left: 328px;
  top: 3px;
}
.seed_6{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  left: 113px;
  top: 32px;
}
.seed_7{
  background-color: var(--seeds);
  width: var(--seeds-width);
  height: var(--seeds-height);
  border-radius: 50px;
  position: relative;
  left: 259px;
  top: 25px;
}
.meat{
  background-color: var(--meat);
  width: var(--meat-width);
  height: var(--meat-height);
  border-radius: 50px;;
}
.pickle{
  background-color: var(--pickle-color);
  width: var(--pickle-width);
  height: var(--pickle-height);
  position: relative;
  left: 25px;
  float: left;
  border-radius: 100px;
}
.pickle2{
  background-color: var(--pickle-color);
  width: var(--pickle-width);
  height: var(--pickle-height);
  position: relative;
  left: 200px;
  border-radius: 100px;
}
.yellow_triangle{
  width: 0;
  height: 0;
  border-left: 80px solid transparent;
  border-right: 90px solid transparent;
  border-top: 62px solid var(--cheese-color);
  float: left;
  position: relative;
  left: 32px;
}
.bottom_bun{
  background-color: var(--burger-bun-color);
  width: var(--bottom-bun-width);
  height: var(--bottom-bun-height);
  border-radius: 50px;

}
