:root{
}
#orange_truck{
  width: var(--orange-truck-width);
  height: var(--orange-truck-height);
  margin-top: -20px;
  margin-left: -190px;
  animation-name: truck-drive;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
@keyframes truck-drive {
  0%{
    position: relative;
    left: -190px
  }
  100%{
    position: relative;
    left: 1460px;
  }
}
.orange_truck_piece_1{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 110px;
  margin-top: 10px;
  float: left;
}
.truck_redlight{
  background-color: var(--orange-truck-backlights);
  width: 10px;
  height: 20px;
  position: relative;
  top: 70px;
}
.truck_greylight{
  background-color: var(--autos-window-rim-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 70px;
}
.orange_truck_piece_2{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 120px;
  float: left;
}
.orange_truck_piece_3{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 120px;
  float: left;
}
.truck_left_wheel_part1{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 100px;
}
.orange_truck_piece_4{
  background-color: var(--orange-truck-color);
  width: 20px;
  height: 120px;
  float: left;
}
.truck_left_wheel_part2{
  background-color: var(--autos-wheel-color);
  width: 20px;
  height: 10px;
  position: relative;
  top: 90px;
}
.truck_left_rim{
  background: var(--autos-window-rim-color);
  width: 20px;
  height: 20px;
  position: relative;
  top: 90px;
}
.truck_left_wheel_part3{
  background-color: var(--autos-wheel-color);
  width: 20px;
  height: 10px;
  position: relative;
  top: 90px;
}
.orange_truck_piece_5{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 120px;
  float: left;
}
.truck_left_wheel_part4{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 100px;
}
.orange_truck_piece_6{
  background-color: var(--orange-truck-color);
  width: 50px;
  height: 120px;
  float: left;
}
.orange_truck_piece_7{
  background-color: var(--orange-truck-color);
  width: 20px;
  height: 120px;
  float: left;
}
.truck_window_piece1{
  background-color: var(--autos-window-rim-color);
  width: 20px;
  height: 50px;
  position: relative;
  top: 10px;
}
.orange_truck_piece_8{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 120px;
  float: left;
}
.truck_window_piece2{
  background-color: var(--autos-window-rim-color);
  width: 10px;
  height: 40px;
  position: relative;
  top: 10px;
}
.truck_right_wheel_part1{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 60px;
}
.orange_truck_piece_9{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 110px;
  position: relative;
  top: 10px;
  float: left;
}
.truck_window_piece3{
  background-color: var(--autos-window-rim-color);
  width: 10px;
  height: 30px;
  position: relative;
  top: 10px;
}
.truck_right_wheel_part2{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 50px;
}
.truck_right_rim{
  background: var(--autos-window-rim-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 50px;
}
.truck_right_wheel_part3{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 50px;
}
.orange_truck_piece_10{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 100px;
  position: relative;
  top: 20px;
  float: left;
}
.truck_window_piece4{
  background-color: var(--autos-window-rim-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 10px;
}
.truck_right_wheel_part4{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 50px;
}
.truck_right_rim_piece2{
  background: var(--autos-window-rim-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 50px;
}
.truck_right_wheel_part5{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 50px;
}
.orange_truck_piece_11{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 90px;
  position: relative;
  top: 30px;
  float: left;
}
.truck_window_piece5{
  background-color: var(--autos-window-rim-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 10px;
}
.truck_right_wheel_part6{
  background-color: var(--autos-wheel-color);
  width: 10px;
  height: 20px;
  position: relative;
  top: 60px;
}
.orange_truck_piece_12{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 80px;
  position: relative;
  top: 40px;
  float: left;
}
.orange_truck_piece_13{
  background-color: var(--orange-truck-color);
  width: 10px;
  height: 70px;
  position: relative;
  top: 50px;
  float: left;
}
.truck_yellowlights{
  background-color: var(--orange-truck-front-lights);
  width: 10px;
  height: 20px;
  position: relative;
  top: 30px;
}
.truck_right_greylight{
  background-color: var(--autos-window-rim-color);
  width: 10px;
  height: 10px;
  position: relative;
  top: 30px;
}
